<div class="row justify-content-md-center">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h3 *ngIf="lang == 'en'">{{ 'menu.certifications' | translate }}</h3>
        <h3 *ngIf="lang == 'fr'" style="text-align: right">{{ 'menu.certifications' | translate }}</h3>

        <div *ngIf="lang == 'en'">
          <p>Sadegh Bashiri is convinced that training and certification are not only proof of competence, but a way of learning
            the technologies according to the rules of the art. This is why the following certifications have been obtained over
            the years as continuing education:</p>
        </div>

        <div *ngIf="lang == 'fr'" dir="rtl">
          <p>صادق بشیری معتقد است که آموزش و صدور گواهینامه نه تنها مدرکی برای تخصص است، بلکه راهی برای یادگیری فناوری‌ها مطابق با قوانین هنر است. به همین دلیل است که طی سال‌ها به عنوان آموزش مداوم، گواهینامه‌های زیر کسب شده‌اند:</p>
        </div>

        <p *ngIf="lang == 'en'">{{ 'menu.technologies' | translate }}</p>
        <p *ngIf="lang == 'fr'" style="text-align: right">{{ 'menu.technologies' | translate }}</p>

        <ul>
          <li>html, css, javascript</li>
          <li>MySQL, Thymeleaf</li>
        </ul>

        <p>Java Platform</p>

        <ul>
          <li>Spring, Spring Boot</li>
          <li>Enterprise Edition (Java EE)</li>
        </ul>
            </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4 text-center" [ngClass]="{'small-devices-spacing': !atLeastMediumDevice()}">
    <img src="assets/img/Duke.png" />
  </div>

  <div class="col-md-4 text-center" [ngClass]="{'small-devices-spacing': !atLeastMediumDevice()}">
<!--    <a href="http://www-01.ibm.com/software/lotus/training/portalofferings.html"><img src="assets/img/java-tech.png" /></a>-->
    <img src="assets/img/java-tech.png" />
  </div>

<!--  <div class="col-md-4 text-center" [ngClass]="{'small-devices-spacing': !atLeastMediumDevice()}">-->
<!--    <a href="http://www-01.ibm.com/software/lotus/training/portalofferings.html"><img src="assets/img/WebSpherePortalDev.gif" /></a>-->
<!--  </div>-->

  <div class="col-md-4 text-center" [ngClass]="{'small-devices-spacing': !atLeastMediumDevice()}">
    <img src="assets/img/Duke.png" />
  </div>

</div>

<div class="row" *ngIf="atLeastMediumDevice()">
  <div class="col-md-12 text-center" [ngClass]="{'small-devices-spacing': !atLeastMediumDevice()}">
    <a href="https://maktabsharif.ir/"><img src="assets/img/certif-1.jpg" /></a>
  </div>
</div>
