<div class="row justify-content-md-center">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h3 *ngIf="lang == 'en'">{{ 'menu.certifications' | translate }}</h3>
        <h3 *ngIf="lang == 'fr'" style="text-align: right">{{ 'menu.certifications' | translate }}</h3>

        <div *ngIf="lang == 'en'">
          <p>Sadegh Bashiri firmly believes that professional certifications are more than just credentials — they represent a commitment to mastering technologies through structured, industry-approved methodologies.
            The following certifications reflect his dedication to continuous learning and technical excellence:</p>
        </div>

        <div *ngIf="lang == 'fr'" dir="rtl">
          <p>صادق بشیری باور دارد که گواهینامه‌های حرفه‌ای فراتر از یک مدرک هستند — آن‌ها نشان‌دهندهٔ تعهد به یادگیری فناوری‌ها از طریق روش‌های استاندارد و صنعتی هستند. گواهینامه‌های زیر بازتابی از این تعهد به یادگیری مستمر و برتری فنی هستند:</p>
        </div>

        <p *ngIf="lang == 'en'">{{ 'menu.technologies' | translate }}</p>
        <p *ngIf="lang == 'fr'" style="text-align: right">{{ 'menu.technologies' | translate }}</p>

        <ul>
          <li>Spring Boot</li>
          <li>Docker</li>
        </ul>

        <p>Certificate: </p>

        <ul>
          <li>Spring Boot Certificate – Maktab Sharif</li>
          <li>Docker Basics Certificate – Maktabkhooneh</li>
          <li>Docker for Engineers and DevOps Programmers – Maktabkhooneh</li>
        </ul>
            </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4 text-center" [ngClass]="{'small-devices-spacing': !atLeastMediumDevice()}">
<!--    <img src="assets/img/Duke.png" />-->
    <a href="https://maktabkhooneh.org/certificates/MK-P6JTQW"><img src="../../assets/img/Maktabkhooneh-Effective-Communication-and-Conflict-Resolution.png" /></a>
  </div>

  <div class="col-md-4 text-center" [ngClass]="{'small-devices-spacing': !atLeastMediumDevice()}">
<!--    <img src="assets/img/Duke.png" />-->
    <a href="https://maktabkhooneh.org/certificates/MK-86314L"><img src="../../assets/img/Maktabkhooneh-Version-Control-with-Git.png" /></a>
  </div>

  <div class="col-md-4 text-center" [ngClass]="{'small-devices-spacing': !atLeastMediumDevice()}">
<!--    <img src="assets/img/Duke.png" />-->
    <a href="https://maktabkhooneh.org/certificates/MK-A211OK"><img src="../../assets/img/Maktabkhooneh-Linux.png" /></a>
  </div>

  <div class="col-md-4 text-center" [ngClass]="{'small-devices-spacing': !atLeastMediumDevice()}">
<!--    <img src="assets/img/Duke.png" />-->
    <a href="https://maktabkhooneh.org/certificates/MK-R76QF9"><img src="../../assets/img/Maktabkhooneh-docker-basic.png" /></a>
  </div>

  <div class="col-md-4 text-center" [ngClass]="{'small-devices-spacing': !atLeastMediumDevice()}">
<!--    <a href="http://www-01.ibm.com/software/lotus/training/portalofferings.html"><img src="assets/img/java-tech.png" /></a>-->
<!--    <img src="assets/img/java-tech.png" />-->
    <a href="https://maktabkhooneh.org/certificates/MK-A1KNY8"><img src="../../assets/img/Maktabkhooneh-docker-for-engineers-and-DevOps-programmers.png" /></a>
  </div>

<!--  <div class="col-md-4 text-center" [ngClass]="{'small-devices-spacing': !atLeastMediumDevice()}">-->
<!--    <a href="http://www-01.ibm.com/software/lotus/training/portalofferings.html"><img src="assets/img/WebSpherePortalDev.gif" /></a>-->
<!--  </div>-->

  <div class="col-md-4 text-center" [ngClass]="{'small-devices-spacing': !atLeastMediumDevice()}">
<!--    <img src="assets/img/Duke.png" />-->
    <a href="https://maktabsharif.ir/"><img src="../../assets/img/MaktabSharif-SpringBoot.jpg" /></a>
  </div>

</div>

<!--<div class="row" *ngIf="atLeastMediumDevice()">-->
<!--  <div class="col-md-12 text-center" [ngClass]="{'small-devices-spacing': !atLeastMediumDevice()}">-->
<!--    <a href="https://maktabsharif.ir/"><img src="assets/img/MaktabSharif-SpringBoot.jpg" /></a>-->
<!--  </div>-->
<!--</div>-->
