<div class="row justify-content-md-center">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div class="card-body">
        <h3 *ngIf="lang == 'en'">{{ 'menu.contacts' | translate }}</h3>
        <h3 *ngIf="lang == 'fr'" dir="rtl">{{ 'menu.contacts' | translate }}</h3>

<!--        <p *ngIf="lang == 'fr'" dir="rtl">شما یک مأموریت بالقوه دارید که به تخصص ما نیاز دارد؟</p>-->
<!--        <p *ngIf="lang == 'en'">You have a potential mandate requiring our expertise?</p>-->

        <table class="table">
          <tbody>
<!--            <tr>-->
<!--              <td><span class="fa fa-phone text-success" aria-hidden="true"></span></td>-->
<!--              <td><strong><a class="link-to-project" href="tel:+989364665266">+989364665266</a></strong></td>-->
<!--            </tr>-->
            <tr>
              <td><span class="fa fa-link text-success" aria-hidden="true"></span></td>
              <td><strong><a class="link-to-project" href="https://github.com/SadeghBashiri/SadeghBashiri">GitHub</a></strong></td>
            </tr>
            <tr>
              <td><span class="fa fa-link text-success" aria-hidden="true"></span></td>
              <td><strong><a class="link-to-project" href="https://www.linkedin.com/in/sadegh-bashiri">Linkedin</a></strong></td>
            </tr>
            <tr>
              <td><span class="fa fa-link text-success" aria-hidden="true"></span></td>
              <td><strong><a class="link-to-project" href="https://stackoverflow.com/users/17700600/sadegh-bashiri">Stackoverflow</a></strong></td>
            </tr>
            <tr>
              <td><span class="fa fa-envelope text-success" aria-hidden="true"></span></td>
              <td><strong><a class="link-to-project" href="Sadegh.Bashiri.Dev@gmail.com">Sadegh.Bashiri.Dev@gmail.com</a></strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
